<p class="red">Note: click on any of the pictures below to open a pdf of the crease pattern</p><br>

<div class="table-of-designs">
  <div class="content fantasy-creatures">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/fantasy-creatures/Arrowback Dragon Crease Pattern.pdf')">
        Arrowback Dragon</div>
      <img src="/designs/animate/fantasy-creatures/Arrowback Dragon.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content tessellations">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/tessellations/Arrows (antiparallel) Crease Pattern.pdf')">
        Arrows (antiparallel)</div>
      <img src="/designs/inanimate/tessellations/Arrows (antiparallel).jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content tessellations">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/tessellations/Arrows (parallel) Crease Pattern.pdf')">
        Arrows (parallel)</div>
      <img src="/designs/inanimate/tessellations/Arrows (parallel).jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content human-figures">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/human-figures/Ballerina Crease Pattern.pdf')">
        Ballerina</div>
      <img src="/designs/animate/human-figures/Ballerina.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content miscellaneous">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/miscellaneous/Bibbulmun Track Marker Crease Pattern.pdf')">
        Bibbulmun Track Marker</div>
      <img src="/designs/inanimate/miscellaneous/Bibbulmun Track Marker.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content vertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/vertebrates/Black Swan Crease Pattern.pdf')">
        Black Swan</div>
      <img src="/designs/animate/vertebrates/Black Swan.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content vertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/vertebrates/Blue Wren Crease Pattern.pdf')">
        Blue Wren</div>
      <img src="/designs/animate/vertebrates/Blue Wren.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content tessellations">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/tessellations/Brick Wall Crease Pattern.pdf')">
        Brick Wall</div>
      <img src="/designs/inanimate/tessellations/Brick Wall.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content modulars">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/modulars/Bricks Crease Pattern.pdf')">
        Bricks</div>
      <img src="/designs/inanimate/modulars/Bricks.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content vertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/vertebrates/Bull Crease Pattern.pdf')">
        Bull</div>
      <img src="/designs/animate/vertebrates/Bull.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content miscellaneous">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/miscellaneous/DAD Crease Pattern.pdf')">
        DAD</div>
      <img src="/designs/inanimate/miscellaneous/DAD.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content fantasy-creatures">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/fantasy-creatures/Demon Head Crease Pattern.pdf')">
        Demon Head</div>
      <img src="/designs/animate/fantasy-creatures/Demon Head.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content vertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/vertebrates/Dog Crease Pattern.pdf')">
        Dog</div>
      <img src="/designs/animate/vertebrates/Dog.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content plants">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/plants/Dragon Fruit Crease Pattern.pdf')">
        Dragon Fruit</div>
      <img src="/designs/animate/plants/Dragon Fruit.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content plants">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/plants/Dragon Fruit Cutting (with thorns) Crease Pattern.pdf')">
        Dragon Fruit Cutting (with thorns)</div>
      <img src="/designs/animate/plants/Dragon Fruit Cutting (with thorns).jpg" class="flex-item-2">
      <div class="asterisk">*</div>
    </div>
  </div>
  <div class="content plants">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/plants/Dragon Fruit Cutting (without thorns) Crease Pattern.pdf')">
        Dragon Fruit Cutting (without thorns)</div>
      <img src="/designs/animate/plants/Dragon Fruit Cutting (without thorns).jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content fantasy-creatures">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/fantasy-creatures/Dragoness Crease Pattern.pdf')">
        Dragoness</div>
      <img src="/designs/animate/fantasy-creatures/Dragoness.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content tessellations">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/tessellations/Elephant Heads Crease Pattern.pdf')">
        Elephant Heads</div>
      <img src="/designs/inanimate/tessellations/Elephant Heads.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content vertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/vertebrates/Fish Crease Pattern.pdf')">
        Fish</div>
      <img src="/designs/animate/vertebrates/Fish.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content plants">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/plants/Gnarly Tree Crease Pattern.pdf')">
        Gnarly Tree</div>
      <img src="/designs/animate/plants/Gnarly Tree.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content human-figures">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/human-figures/Handmaid Crease Pattern.pdf')">
        Handmaid</div>
      <img src="/designs/animate/human-figures/Handmaid.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content vertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/vertebrates/Horse Crease Pattern.pdf')">
        Horse</div>
      <img src="/designs/animate/vertebrates/Horse.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content vertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/vertebrates/Hummingbird (1) Crease Pattern.pdf')">
        Hummingbird (1)</div>
      <img src="/designs/animate/vertebrates/Hummingbird (1).jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content vertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/vertebrates/Hummingbird (2) Crease Pattern.pdf')">
        Hummingbird (2)</div>
      <img src="/designs/animate/vertebrates/Hummingbird (2).jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content modulars">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/modulars/Kites and Darts Crease Pattern.pdf')">
        Kites and Darts</div>
      <img src="/designs/inanimate/modulars/Kites and Darts.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content invertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/invertebrates/Ladybird Crease Pattern.pdf')">
        Ladybird</div>
      <img src="/designs/animate/invertebrates/Ladybird.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content miscellaneous">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/miscellaneous/MUM Crease Pattern.pdf')">
        MUM</div>
      <img src="/designs/inanimate/miscellaneous/MUM.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content miscellaneous">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/miscellaneous/Otamatone Crease Pattern.pdf')">
        Otamatone</div>
      <img src="/designs/inanimate/miscellaneous/Otamatone.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content plants">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/plants/Palora Dragon Fruit (with thorns) Crease Pattern.pdf')">
        Palora Dragon Fruit (with thorns)</div>
      <img src="/designs/animate/plants/Palora Dragon Fruit (with thorns).jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content plants">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/plants/Palora Dragon Fruit (without thorns) Crease Pattern.pdf')">
        Palora Dragon Fruit (without thorns)</div>
      <img src="/designs/animate/plants/Palora Dragon Fruit (without thorns).jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content miscellaneous">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/miscellaneous/Periodic Table Crease Pattern.pdf')">
        Periodic Table</div>
      <img src="/designs/inanimate/miscellaneous/Periodic Table.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content tessellations">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/tessellations/Pine Trees Crease Pattern.pdf')">
        Pine Trees</div>
      <img src="/designs/inanimate/tessellations/Pine Trees.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content modulars">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/modulars/Pixels Crease Pattern.pdf')">
        Pixels</div>
      <img src="/designs/inanimate/modulars/Pixels.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content human-figures">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/human-figures/Rice Farmer Crease Pattern.pdf')">
        Rice Farmer</div>
      <img src="/designs/animate/human-figures/Rice Farmer.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content tessellations">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/tessellations/School of Fish Crease Pattern.pdf')">
        School of Fish</div>
      <img src="/designs/inanimate/tessellations/School of Fish.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content invertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/invertebrates/Scorpion Crease Pattern.pdf')">
        Scorpion</div>
      <img src="/designs/animate/invertebrates/Scorpion.jpg" class="flex-item-2s">
    </div>
  </div>
  <div class="content miscellaneous">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/miscellaneous/Skull Crease Pattern.pdf')">
        Skull</div>
      <img src="/designs/inanimate/miscellaneous/Skull.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content fantasy-creatures">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/fantasy-creatures/Sleeping Dragon Crease Pattern.pdf')">
        Sleeping Dragon</div>
      <img src="/designs/animate/fantasy-creatures/Sleeping Dragon.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content invertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/invertebrates/Snail Crease Pattern.pdf')">
        Snail</div>
      <img src="/designs/animate/invertebrates/Snail.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content miscellaneous">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/miscellaneous/Standard Model Crease Pattern.pdf')">
        Standard Model</div>
      <img src="/designs/inanimate/miscellaneous/Standard Model.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content vertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/vertebrates/Stingray Crease Pattern.pdf')">
        Stingray</div>
      <img src="/designs/animate/vertebrates/Stingray.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content tessellations">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/tessellations/Stocking Stitch Crease Pattern.pdf')">
        Stocking Stitch</div>
      <img src="/designs/inanimate/tessellations/Stocking Stitch.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content tessellations">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/tessellations/Suns Crease Pattern.pdf')">
        Suns</div>
      <img src="/designs/inanimate/tessellations/Suns.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content modulars">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/modulars/Tennis Racket Crease Pattern.pdf')">
        Tennis Racket</div>
      <img src="/designs/inanimate/modulars/Tennis Racket.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content miscellaneous">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/miscellaneous/Touring Unicycle Crease Pattern.pdf')">
        Touring Unicycle</div>
      <img src="/designs/inanimate/miscellaneous/Touring Unicycle.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content miscellaneous">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/miscellaneous/Traffic Cone Crease Pattern.pdf')">
        Traffic Cone</div>
      <img src="/designs/inanimate/miscellaneous/Traffic Cone.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content vertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/vertebrates/Turtle (with shell pattern) Crease Pattern.pdf')">
        Turtle (with shell pattern)</div>
      <img src="/designs/animate/vertebrates/Turtle (with shell pattern).jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content vertebrates">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/animate/vertebrates/Turtle (without shell pattern) Crease Pattern.pdf')">
        Turtle (without shell pattern)</div>
      <img src="/designs/animate/vertebrates/Turtle (without shell pattern).jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content miscellaneous">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/miscellaneous/Under His Eye Crease Pattern.pdf')">
        Under His Eye</div>
      <img src="/designs/inanimate/miscellaneous/Under His Eye.jpg" class="flex-item-2">
    </div>
  </div>
  <div class="content modulars">
    <div class="container">
      <div class="overlay" onclick="openPDF('/designs/inanimate/modulars/XYZ Plane Crease Pattern.pdf')">
        XYZ Plane</div>
      <img src="/designs/inanimate/modulars/XYZ Plane.jpg" class="flex-item-2">
    </div>
  </div>
</div>

 <script src="/assets/js/readmore.js"></script>
